<a href="https://colab.research.google.com/github/sebasur90/EDVAI-Data-Engineering/blob/main/Bootcamp_DE2_ejercicios_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px"> 

# Bootcamp Data Engineer



Seguinos en las redes para mas contenido:
 [Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos) 

Canal de [YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>



---

# Ejercicios introductorios a Python

## 1) Importar datos y analisis inicial

1.a) Importar datos y verificar datatypes

https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv

In [179]:
datos=pd.read_csv("https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv")

1.b) Con iloc, mostrar toda la columna name

In [180]:
datos.iloc[:,0]

0     Luke Skywalker
1              C-3PO
2              R2-D2
3        Darth Vader
4        Leia Organa
           ...
82               Rey
83       Poe Dameron
84               BB8
85    Captain Phasma
86     Padmé Amidala
Name: name, Length: 87, dtype: object

1.c) Con iloc, mostrar todo el registro 3

In [181]:
datos.iloc[3]

name          Darth Vader
height              202.0
mass                136.0
hair_color           none
skin_color          white
eye_color          yellow
birth_year           41.9
sex                  male
gender          masculine
homeworld        Tatooine
species             Human
Name: 3, dtype: object

1.d) Mostrar los nombres de columnas del dataframe

In [182]:
datos.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species'],
      dtype='object')

1.e) Mostrar el shape del dataframe

In [184]:
datos.shape

(87, 11)

1.f) Mostrar los primeros 10 registros

In [186]:
datos.head(10)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
5,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
6,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human

1.g) Mostrar los ultimos 5 registros

In [185]:
datos.tail()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human

## 2) Preparacion de datos

2.a) Obtener nulos de la columna species (tip: seleccionar primero los nulos de la columna, por ejemplo 'dataframe['columna'].isna()' y usarlos luego para filtrar los nulos)

In [187]:
datos[datos['species'].isna()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
36,Ric Olié,183.0,NaN,brown,fair,blue,NaN,NaN,NaN,Naboo,NaN
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,NaN
79,Sly Moore,178.0,48.0,none,pale,white,NaN,NaN,NaN,Umbara,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN

2.b) Reemplazar nulos en la columna 'species' por el string 'Unknown'

In [188]:
datos.species.fillna("Unknown",inplace=True)

2.c) Reemplazar nulos de la columna 'mass' por la mediana de la columna

In [189]:
datos.mass.fillna(datos.mass.mean(),inplace=True)

2.d) Eliminar las columnas 'sex' y 'skin_color'

In [190]:
datos.drop(['sex','skin_color'],axis=1,inplace=True)

2.f) Ordenar el dataframe ascendentemente por la columna mass

In [191]:
datos.sort_values(by='mass',ascending=True)

,name,height,mass,hair_color,eye_color,birth_year,gender,homeworld,species
71,Ratts Tyerell,79.0,15.0,none,unknown,NaN,masculine,Aleen Minor,Aleena
18,Yoda,66.0,17.0,white,brown,896.0,masculine,NaN,Yoda's species
28,Wicket Systri Warrick,88.0,20.0,brown,brown,8.0,masculine,Endor,Ewok
2,R2-D2,96.0,32.0,NaN,red,33.0,masculine,Naboo,Droid
7,R5-D4,97.0,32.0,NaN,red,NaN,masculine,Tatooine,Droid
...,...,...,...,...,...,...,...,...,...
3,Darth Vader,202.0,136.0,none,yellow,41.9,masculine,Tatooine,Human
77,Tarfful,234.0,136.0,brown,blue,NaN,masculine,Kashyyyk,Wookiee
21,IG-88,200.0,140.0,none,red,15.0,masculine,NaN,Droid
76,Grievous,216.0,159.0,none,"green, yellow",NaN,masculine,Kalee,Kaleesh
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,orange,600.0,masculine,Nal Hutta,Hutt

2.g) Crear una nueva columna llamada mass_lb

In [192]:
datos['mass_lb']=pd.Series()

<ipython-input-192-d687edc6ae4a>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  datos['mass_lb']=pd.Series()

2.h) Renombrar la columna 'mass' a 'mass_kg'

In [194]:
datos.rename(columns={"mass":"mass_kg"},inplace=True)

2.i) Reordenar las columnas del dataframe, ubicando 'mass_lb' a la derecha de 'mass_kg'

In [197]:
datos=datos[['name', 'height', 'mass_kg', 'mass_lb', 'hair_color', 'eye_color', 'birth_year',
       'gender', 'homeworld', 'species']]

2.j) Eliminar del dataset, los registros en donde mass_kg sea menor a 20

## 3) Exportar dataframe

Exportar a CSV, usando como separador el caracter |

## 4) Ejercicio integrador

Para completar este ejercicio, debes usar el dataframe d_star_wars con todas las modificaciones realizadas en los puntos anteriores

4.a) Reemplazar los nulos de la columna 'birth_year' por el promedio

4.b) Eliminar los decimales de la columna 'birth_year' (investigar round() )

4.c) Cambiar el tipo de datos de la columna 'birth_year' de float a integer

4.d) Cambiar el tipo de datos de la columna 'birth_year' de integer a string

4.e) Crear una funcion llamada for_sample.
      La misma debe, mediante un for, hacer prints en pantalla con el siguiente formato:
  `R2-D2 nacido/a en el año 33 en el planeta Naboo`
R2-D2(name), 33(birth_year), Naboo(homeworld)

      Parametros: 
      *   df: dataframe 
      *   iteraciones: cantidad de registros a mostrar en el print (elegir un numero aleatorio)